.homeContainer{
    display: flex;
    width: 100%;
}

/* @media (max-width: 899px) { */
  @media (1px <= width  <=  899px) {
    .rightbar {
      display: none;
    }

    /* .shareOptions{
      flex-direction: column;
    } */

    .sidebar {
        display: none;
      }
      
      .feed{
        width: 100vw;
      }

      .share{
        width: 100vw;
      }

    .navbar{
      overflow: hidden;
    }

    .homeContainer{
      overflow: hidden;
    }    
}

@media (900px <= width  <=  1099px) {
  .sidebar {
      display: none;
    }  
}