.homeContainer{
    display: flex;
    width: 100%;
}

  @media (max-width: 720px) {
    .rightbar {
      display: none;
    }

    .sidebar {
      display: none;
    }
  }

  @media ((721px <= width  <=  910px)) {
    .sidebar {
      display: none;
    }
  }





