.rightbar{
    flex: 3.5; 
    overflow: hidden;  
}

.rightbarWrapper{
    padding: 20px 20px 0 0;
  }

.birthdayContainer{
    display: flex;
    align-items: center;
}

.birthdayImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.birthdayText{
    font-weight: 300;
    font-size: 15px;
}

.rightbarAd{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}

.rightbarTitle{
    margin-bottom: 20px;
}

.rightbarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.hennessy{
    overflow: hidden;
}
   
.rightbarWrapper .hennessy img{
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.rightbarWrapper .hennessy:hover img{
    transform: scale(1.15);
}
